global
    log /dev/log local0
    maxconn 2000
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    retries 3

frontend ldap_front
    bind *:389
    default_backend ldap_back

backend ldap_back
    balance roundrobin
    option tcp-check
    tcp-check connect
    server ldap1 127.0.0.1:1388 check inter 2s fall 2 rise 2
    server ldap2 127.0.0.1:1389 check inter 2s fall 2 rise 2

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

frontend prometheus_metrics
    bind *:8405
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    no log
